*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fafafa;
}

.bug{
    outline: 1px solid orange;

}
.col{
    /* outline: 1px solid orange; */
    /* background:#ddd; */

}

.main-wrapper{
    width: 100%;
    max-width: 993px;
    min-height: 100vh;
    margin: 20px auto;

    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;
}

.phone{
    display: grid;
    grid-template-columns: repeat(24,1fr);
    grid-template-rows: repeat(13,1fr);

    background-color: red;
    grid-column: 1/-1;
    height: 618px;
    background: url('/img/phone-frame.png');
    background-repeat: no-repeat;
    background-position:79px 0;
}

.slider{
    overflow-y: hidden;
    grid-column: 12/24;
    grid-row: 3/13 ;
}

/* 
 COLUNO DE LOGIN
*/

.login-column{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(16,1fr);
}

.login-card{
    grid-column: 2/11;
    grid-row: 5/13;
    border: 1px solid #dbdbdb;

    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 1px 4px rgba(0,0,0,0.4);
    box-shadow: 0 1px 3px rgba(0,0,0,.15);
    max-width: 100%;
}

.logo{
    width: 175px;
    height: 51px;
    margin: 25px auto;
}
.logo img{
    max-width: 100%;

}

.usuario-atual-login{
   width: 102px;
   height: 102px;
   border-radius: 50%;
   overflow: hidden; 
   margin-bottom: 20px;
}

.usuario-atual-login img{
    max-width: 100%;
}

.btn{
    border: none;
    border-radius: 3px;
    padding: 7px 20px;
}

.btn-azul{
    background-color: #0095f6;
    color: #fff;
    font-weight: bold;
}

.trocar-conta{
    margin-top: 25px;
}
.trocar-conta p{
    font-weight: 500;
}
.trocar-conta span{
    color: #0095f6;
    font-weight: bold;
    cursor: pointer;
}


@media (max-width:960px){

    .login-column{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main-wrapper{
        grid-template-columns: repeat(1,1fr);
    }
    .phone{display: none;}

    .login-card{
        width: 350px;
        height: 339px;
    }
}



.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 30px auto;
}

.links-one{
    display: block;
    /* margin-left: 70px; */
    text-align: center;
    margin: 10px auto;
}
.links-one a{
    padding: 10px 5px;
    color: #8e8e8e;
    font-size: 13px;
    text-decoration: none;
}

.links-one select, .links-one span{
    border: none;
    color: #8e8e8e;
    font-size: 13px;
}



/*

footer{

   display: flex;
   flex-direction: column;
    margin: 70px auto;
    width: 100%;
    max-width: 900px;
    flex-wrap: wrap;
    outline: 1px solid orange;
}

footer > *{
    flex-shrink: 0;
}

.bottom-nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 70px;
    max-width: 90%;
   
}
.bottom-nav-under{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin:20px auto;
   width: max-content;

}
.bottom-nav-under a{
    padding: 0px 20px;
}
.bottom-nav a, .bottom-nav-under a{
    
    color: #8e8e8e;
    font-size: 13px;
    text-decoration: none;
}

.bottom-nav-under select{
    margin-right: 10px;
    color: #8e8e8e;
    font-size: 13px;
    border: none;
    background-color: transparent;


    
        outline: none;
    
      
       
      
      
}
.bottom-nav-under span{
    color: #8e8e8e;
    font-size: 13px;
}
*/