*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fafafa;
}

.bug{
    outline: 1px solid orange;

}
.col{
    outline: 1px solid orange;
    background:#ddd;

}

.main-wrapper{
    width: 100%;
    max-width: 993px;
    min-height: 100vh;
    margin: 20px auto;

    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;
}

.phone{
    display: grid;
    grid-template-columns: repeat(24,1fr);
    grid-template-rows: repeat(13,1fr);

    background-color: red;
    grid-column: 1/-1;
    height: 618px;
    background: url('/img/telephone-molde.png');
    background-repeat: no-repeat;
    background-position:79px 0;
}

.slider{
    overflow-y: hidden;
    /* height: 100%; */
    /* background-color: rgba(0,0,0,0.4); */
    /* background-color: rgba(255,255,255,0.3); */
    grid-column: 12/24;
    grid-row: 3/13 ;
    /* margin-top: -1px; */
    /* border: 2px solid black; */
}
